body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://lh3.googleusercontent.com/7JceN9_dj7crVtjXxiY8dbz_youvqHYwTDnQvOIZXt9qHEj3GEQaVuRCeC8JunTRl8ZqnJ8-d8YgN_LnOxDuMuTzrCBpyoSa8Boa9lQ2WzMrtQWjfhy6F1njt_N0FkWG4876_Dv8-Q=w1920);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.login h1 a {
    background-image: url(/favicon.ico)
}

#login {
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    border-radius: 20px;
}

.login form {
    background: 0 0;
    box-shadow: none;
    border: 0
}

.login form .input {
    outline: 0;
}

#backtoblog {
    display: none
}

.login form .input, .login input[type=text] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(12, 12, 12, .3);
}
.login form .input {
    border-radius: 0;
}
.login form input[type=checkbox] {
    border-radius: 50%;
}